.screen{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #740cebc2;
}

.converterContainer{
    width: 500px;
    height: fit-content;   
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #740cebc2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inputsContainer{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.select{
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    background-color: #fff;
    color: #000;
    font-size: 1rem;
}

.input{
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    background-color: #fff;
    color: #000;
    font-size: 1rem;
}