.main{
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.selectContainer{
  display: flex;
  gap: 0.2rem;
}

.urlinput{
  height: 30px;
  width: 250px;
  border-radius: 20px;
}

.btn{
  height: 50px;
  width: 150px;
  border-radius: 20px;
  background-color: rgb(29, 231, 29);
}

.selection , .selection option, .fill_input{
  border-radius: 20px;
  border: 2px solid black;
  width: 160px;
  height: 50px;
  text-align: center;
  font-weight: bolder;
}

.table{
  border: 1px solid black;
  width: 80%;
  background-color:black;
  text-align: center;
}

.table th{
  border: 1px solid black;
  background-color: aqua;
}

.table td{
    background-color: cornsilk;
    border: 1px solid black;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid black;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media screen and (max-width:321px) {
  .selection , .fill_input{
    width: 155px;
    height: 50px;
  }
  .selectContainer{
    gap: 0.1rem;
  }
}