.main{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form{
  height: 500px;
  width: 300px;
  border: 2px solid grey;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: #fff;
  box-shadow: 0 2px 15px 6px #493636 ;
  
}
.title{
  font-size: x-large;
  margin-top: 10px;
  color: #a30a5d;
  text-shadow: 1px -1px 0px red;
}

.inputs{
  display: flex;
  flex-direction: column;
  width: 75%;
  height: fit-content;
  align-items: start;
}

.inpt{
  width: 100%;
  height: 50px;
  border-radius: 20px;
  margin-top: .5rem;
  text-align: center;
}

.label{
  margin-top: 1rem;
}

.btn{
  width: 60%;
  height: 50px;
  border-radius: 20px;
  border: 2px solid red;
  color: white;
  background-color: red;
}